@theme inline {
  --animate-dialog-scrim-in: dialog-scrim-fade-in var(--md-sys-motion-duration-medium1) var(--md-sys-motion-easing-emphasized);
  --animate-dialog-scrim-out: dialog-scrim-fade-out var(--md-sys-motion-duration-short1) var(--md-sys-motion-easing-emphasized) forwards;
  --animate-dialog-container-in: dialog-slide-down var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized), dialog-container-in-opacity var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized), dialog-container-in-height var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized);

  --animate-slide-in-from-left: slide-in-from-left var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized-decelerate);
  --animate-slide-out-to-left: slide-out-to-left var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized-accelerate) forwards;
  --animate-slide-in-from-right: slide-in-from-right var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized-decelerate);
  --animate-slide-out-to-right: slide-out-to-right var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized-accelerate) forwards;
}

@keyframes dialog-slide-down {
  from { transform: translateY(-50px); }
  to { transform: translateY(0); }
}

@keyframes dialog-slide-up {
  from { transform: translateY(0px); }
  to { transform: translateY(-50px); }
}

@keyframes dialog-scrim-fade-in {
  from { opacity: 0; }
  to { opacity: 0.32; }
}
@keyframes dialog-scrim-fade-out {
  from { opacity: 0.32; }
  to { opacity: 0; }
}

@keyframes dialog-container-in-opacity {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes dialog-container-in-height {
  from { clip-path: inset(0 0 65% 0); }
  to { clip-path: inset(0 0 0 0); }
}

@keyframes dialog-container-out-opacity {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slide-in-from-left {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes slide-out-to-left {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes slide-in-from-right {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes slide-out-to-right {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}