@theme inline {
  --font-plain: var(--md-ref-typeface-plain), sans-serif;
  --font-brand: var(--md-ref-typeface-brand), sans-serif;
  --font-medium: var(--md-ref-typeface-weight-medium);
  --font-regular: var(--md-ref-typeface-weight-regular);
}

@utility label-small {
  @apply text-[11px] leading-[16px] tracking-[0.5px] font-medium font-plain;
}

@utility label-medium {
  @apply text-[12px] leading-[16px] tracking-[0.5px] font-medium font-plain;
}

@utility label-large {
  @apply text-[14px] leading-[20px] tracking-[0.1px] font-medium font-plain;
}

@utility body-small {
  @apply text-[12px] leading-[16px] tracking-[0.4px] font-regular font-plain;
}

@utility body-medium {
  @apply text-[14px] leading-[20px] tracking-[0.25px] font-regular font-plain;
}

@utility body-large {
  @apply text-[16px] leading-[24px] tracking-[0.5px] font-regular font-plain;
}

@utility title-small {
  @apply text-[14px] leading-[20px] tracking-[0.1px] font-medium font-plain;
}

@utility title-medium {
  @apply text-[16px] leading-[24px] tracking-[0.15px] font-medium font-plain;
}

@utility title-large {
  @apply text-[22px] leading-[28px] tracking-[0px] font-regular font-brand;
}

@utility headline-small {
  @apply text-[24px] leading-[32px] tracking-[0px] font-regular font-brand;
}

@utility headline-medium {
  @apply text-[28px] leading-[36px] tracking-[0px] font-regular font-brand;
}

@utility headline-large {
  @apply text-[32px] leading-[40px] tracking-[0px] font-regular font-brand;
}

@utility display-small {
  @apply text-[36px] leading-[44px] tracking-[0px] font-regular font-brand;
}

@utility display-medium {
  @apply text-[45px] leading-[52px] tracking-[0px] font-regular font-brand;
}

@utility display-large {
  @apply text-[57px] leading-[64px] tracking-[-0.25px] font-regular font-brand;
}
