@import "tailwindcss";
@import "./styles/vars.css";
@import "./styles/utilities.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--md-sys-color-primary);
  --color-on-primary: var(--md-sys-color-on-primary);
  --color-primary-container: var(--md-sys-color-primary-container);
  --color-on-primary-container: var(--md-sys-color-on-primary-container);
  
  --color-secondary: var(--md-sys-color-secondary);
  --color-secondary-container: var(--md-sys-color-secondary-container);
  --color-on-secondary: var(--md-sys-color-on-secondary);
  --color-on-secondary-container: var(--md-sys-color-on-secondary-container);
  
  --color-tertiary: var(--md-sys-color-tertiary);
  --color-tertiary-container: var(--md-sys-color-tertiary-container);
  --color-on-tertiary: var(--md-sys-color-on-tertiary);
  --color-on-tertiary-container: var(--md-sys-color-on-tertiary-container);
  
  --color-error: var(--md-sys-color-error);
  --color-error-container: var(--md-sys-color-error-container);
  --color-on-error: var(--md-sys-color-on-error);
  --color-on-error-container: var(--md-sys-color-on-error-container);
  
  --color-surface: var(--md-sys-color-surface);
  --color-surface-variant: var(--md-sys-color-surface-variant);
  --color-on-surface: var(--md-sys-color-on-surface);
  --color-on-surface-variant: var(--md-sys-color-on-surface-variant);
  
  --color-outline: var(--md-sys-color-outline);
  --color-background: var(--md-sys-color-background);
  --color-on-background: var(--md-sys-color-on-background);
  
  --color-surface-container: var(--md-sys-color-surface-container);
  --color-surface-container-highest: var(--md-sys-color-surface-container-highest);
  --color-surface-container-low: var(--md-sys-color-surface-container-low);
  --color-outline-variant: var(--md-sys-color-outline-variant);

  --color-shadow: var(--md-sys-color-shadow);
  --color-surface-tint: var(--md-sys-color-surface-tint);
  --color-surface-tint-color: var(--md-sys-color-surface-tint-color);
  
  --color-inverse-surface: var(--md-sys-color-inverse-surface);
  --color-inverse-on-surface: var(--md-sys-color-inverse-on-surface);
  --color-inverse-primary: var(--md-sys-color-inverse-primary);

  --shadow-elevation-0: none;
  --shadow-elevation-1: var(--md-sys-elevation-shadow-key-umbra-color) 0px 1px 2px 0px, var(--md-sys-elevation-shadow-key-penumbra-color) 0px 1px 3px 1px, var(--md-sys-elevation-shadow-ambient-umbra-color) 0px 1px 3px 0px;
  --shadow-elevation-2: var(--md-sys-elevation-shadow-key-umbra-color) 0px 3px 3px -2px, var(--md-sys-elevation-shadow-key-penumbra-color) 0px 3px 4px 0px, var(--md-sys-elevation-shadow-ambient-umbra-color) 0px 1px 8px 0px;
  --shadow-elevation-3: var(--md-sys-elevation-shadow-key-umbra-color) 0px 3px 5px -1px, var(--md-sys-elevation-shadow-key-penumbra-color) 0px 6px 10px 0px, var(--md-sys-elevation-shadow-ambient-umbra-color) 0px 1px 18px 0px;
  --shadow-elevation-4: var(--md-sys-elevation-shadow-key-umbra-color) 0px 4px 5px -2px, var(--md-sys-elevation-shadow-key-penumbra-color) 0px 7px 10px 1px, var(--md-sys-elevation-shadow-ambient-umbra-color) 0px 2px 16px 1px;
  --shadow-elevation-5: var(--md-sys-elevation-shadow-key-umbra-color) 0px 5px 5px -3px, var(--md-sys-elevation-shadow-key-penumbra-color) 0px 8px 10px 1px, var(--md-sys-elevation-shadow-ambient-umbra-color) 0px 3px 14px 2px;

  --radius-extra-small-decreased: var(--md-sys-shape-corner-extra-small-decreased);
  --radius-extra-small: var(--md-sys-shape-corner-extra-small);
  --radius-small: var(--md-sys-shape-corner-small);
  --radius-medium: var(--md-sys-shape-corner-medium);
  --radius-large: var(--md-sys-shape-corner-large);
  --radius-large-increased: var(--md-sys-shape-corner-large-increased);
  --radius-extra-large: var(--md-sys-shape-corner-extra-large);
  --radius-extra-large-increased: var(--md-sys-shape-corner-extra-large-increased);
  --radius-extra-large-increased-2: var(--md-sys-shape-corner-extra-large-increased-2);
  --radius-extra-large-increased-3: var(--md-sys-shape-corner-extra-large-increased-3);
  --radius-full: var(--md-sys-shape-corner-full);
}
